// COLORS
$primary: #454545;
$secondary: #dadada;
$warning: #c48555;
$danger: #944141;

$info-01: #6666a2;
$info: #48488e;
$info-10: #34347a;


// TEXT
$t-xxs: 8px;
$t-xs: 10px;
$t-sm: 12px;
$t-md: 14px;
$t-lg: 18px;
$t-xl: 24px;
$t-xxl: 36px;

// DISTANCES (margin padding)
$d-2: 8px;
$d-4: 12px;
$d-6: 16px;
$d-8: 24px;
$d-12: 36px;
$d-16: 48px;
$d-18: 64px;
$d-24: 120px;

// BREAKPOINTS
$xxs: 240px;
$xs: 360px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
